<div *ngIf="dataPersonsList" class="container">
    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of dataPersonsList;">
                <td>
                    {{person.name}}
                </td>
                <td>
                    {{person.name}}
                </td>
                <td>
                    {{person.name}}
                </td>
                <td>
                    {{person.name}}
                </td>
                <td>
                    {{person.name}}
                </td>
                <td>
                    <button mat-flat-button color="primary"
                        (click)="openCourses(person.idPerson)"
                    >
                        VER
                    </button>  
                </td>
                <td>     
                    <button mat-flat-button color="accent"
                        (click)="editStudent(person)"
                    >
                        Editar
                    </button>  
                    <button mat-button color="warn"
                        (click)="deleteStudent(person)"
                    >
                        Eliminar
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>